:root {
    --primary-color: #FDA403; /* Color principal */
    --secondary-color: #E5C287;  /* Color secundario */
    --secondary-color-2: #cca86a;
    --secondary-color-3: #5b4b30;
    --cancel-color: #dc3545;
    --cancel-color-2: #a42835;
    --cancel-color-3: #661820;
    --black: #000000;
    --font-size: 16px;        /* Tamaño de fuente */
    --bs-body-font-family: "Work Sans", sans-serif;

}

html, body {
      height: 100%;
}
.content {
      flex: 1;
}


/* NAVBAR */

.navbar-nav {
    gap: 2rem;
}

.dropdown-menu {

    background-color: rgb(255, 209, 123);
}
.dropdown-item:hover,
.dropdown-item:active {
    background-color: rgb(252, 201, 107);
}


.bg-quienes-somos {
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.8)),
        url('../img/Comedor-Comunitario.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh; /* Ajusta la altura para ocupar más espacio */
}

.btn-custom {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color-2);
	color:var(--secondary-color-3);
    font-family: var(--bs-body-font-family);
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out ,color 0.2s ease-in-out ;

}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
	background-color: var(--secondary-color-2);
	border-color: var(--secondary-color-3);
	color:white;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
	background-color: var(--cancel-color);
	border-color: #d8b57a;
	color:#000000;
}
/* BOTON CANCELAR CUSTOM */

.btn-cancel-custom {
    background-color: var(--cancel-color);
	border-color: var(--cancel-color-2);
	color: var(--cancel-color-3);
    font-family: var(--bs-body-font-family);
    text-transform: uppercase;
    font-weight: bold;
}

.btn-cancel-custom:hover,
.btn-cancel-custom:focus,
.btn-cancel-custom:active,
.btn-cancel-custom.active{
    background-color: var(--cancel-color-2);
	border-color: var(--cancel-color-3);
	color:white;
    transition: background-color 0.2s ease-in-out ,color 0.2s ease-in-out ;
}


.btn-cancel-custom.disabled:hover,
.btn-cancel-custom.disabled:focus,
.btn-cancel-custom.disabled:active,
.btn-cancel-custom.disabled.active,
.btn-cancel-custom[disabled]:hover,
.btn-cancel-custom[disabled]:focus,
.btn-cancel-custom[disabled]:active,
.btn-cancel-custom[disabled].active,
fieldset[disabled] .btn-cancel-custom:hover,
fieldset[disabled] .btn-cancel-custom:focus,
fieldset[disabled] .btn-cancel-custom:active,
fieldset[disabled] .btn-cancel-custom.active {
    background-color: #E5C287;
	border-color: #d8b57a;
	color:#000000;
}


.bg-primary {
    background-color: var(--primary-color) !important;
  }

.bg-primary-40 {
    background-color: rgba(253, 164, 3, 0.5);
}

.navbar-custom-border {
    border-bottom: 5px solid var(--primary-color);
}

.footer-custom-border {
    border-top: 5px solid var(--primary-color);
}

#map {
    margin: 0 auto;
    height: 500px;
    border: 3px solid var(--black);
}

.form-container {
    margin: 5rem auto;
}

.form {
    max-width: 600px;
    border: 2px solid var(--primary-color);
    padding: 2rem;
    border-radius: 1rem;
}

.actions {
    max-width: 60%;
}

.actions a{
    color: var(--black);
    text-decoration: none;
}
.actions a:hover {
    font-weight: bolder;
    transition: font-weight 0.2s ease;
}


.collapse-form {
    transition: height 0.4s ease-in-out;
}

.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translateY(-25%);
    opacity: 0;
}

.modal.fade.show .modal-dialog {
    transform: translateY(0);
    opacity: 1;
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


.estado-heladera {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.btn-outline-primary {
    font-weight: bold;
    --bs-btn-color: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--primary-color);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--secondary-color);
    --bs-btn-active-border-color: var(--primary-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--primary-color);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--primary-color);
    --bs-gradient: none;
}